PORT=3000
NODE_ENV=development
MONGO_USERS_URI=mongodb://localhost:27017/quicktix_users_dev
MONGO_TICKETS_URI=mongodb://localhost:27018/quicktix_tickets_dev
JWT_SECRET=dev-only-secret-do-not-use-in-production
CLIENT_DIST=../client/dist/client/browser
